@import "tailwindcss";

:root {
    --tile-size: 40px;
    --tile-font-size: 10px;
}

.tile {
    width: var(--tile-size);
    height: var(--tile-size);
    font-size: var(--tile-font-size);
    display: block;
    grid-gap: 1px;
}